// app global css
@import './themes/variables.mat'

.q-layout-drawer-left {
  width: 180px;
  font-size: 13px!important
  color: #FFFFFF
  font-weight: 500;
}
  .q-icon{
    font-size: 16px
    color: #FFFFFF
  }
  .q-item-side, .q-item-side-left {
    min-width: 25px;
  }
  .q-collapsible-sub-item.indent {
    padding-left: 0;  
  } 
   
.q-list-highlight > .q-item:hover, .q-item-highlight:hover, .q-list-link > .q-item:hover, .q-item-link:hover {
  background: transparent;
  color: #1b867b;
}
.layout-padding {
    padding: 2em;
    margin: auto;
    background: #f1f3f4;
}
.q-item-label {
  font-size: 13px
}
.custom-tab .q-tabs-head{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #63bbb2!important;
  padding-left: 0
  padding-right: 0
}
.custom-tab .active{
  background-color: #209e91;
}
.custom-tab .q-tabs-bar{
  border: 0
}
.custom-tab .q-tab-pane{
  background-color: #fff;
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}
.custom-list.q-list{
  border-radius: 5px
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  margin-bottom: 24px;
  padding: 0
}
.custom-list .q-list-header{
  border-bottom: 1px solid rgba(0,0,0,.12);
  font-size: 16px;
}

.primary{
  background: #38A99D
  }
.success{
  background: #9BC22F
  }
.info{
  background: #40B6D5
  }
.warning{
  background: #E4BF42
  }
.danger{
  background: #F0696D
  }
.default{
  background: #F4F3F4
  }
.pull-right{
  float:right
}
 .pull-left{
  float:left
} 
.custom-btn{
  padding: 5px 1.5em
}
.custom-btn .row{
  display: block
  flex-wrap: nowrap
}