// app global css
@import './themes/variables.mat'

.q-layout-drawer-left {
  width: 180px;
  font-size: 13px!important
  color: #FFFFFF
  font-weight: 500;
}
  .q-icon{
    font-size: 16px
    color: #FFFFFF
  }
  .q-item-side, .q-item-side-left {
    min-width: 25px;
  }
  .q-collapsible-sub-item.indent {
    padding-left: 0;  
  } 
    .sub-item{
      padding-left: 35px
    }
.q-list-highlight > .q-item:hover, .q-item-highlight:hover, .q-list-link > .q-item:hover, .q-item-link:hover {
  background: transparent;
  color: #1b867b;
}
.layout-padding {
    padding: 2em;
    margin: auto;
    background: #f1f3f4;
}
.q-item-label {
  font-size: 13px
}