// app global css
@import './themes/variables.ios'

.q-layout-drawer-left{
  width: 180px
  color: #FFFFFF
  font-weight: 500;
}
  .q-icon{
    font-size: 16px
    color: #FFFFFF
  }
  .q-item-side, .q-item-side-left {
    min-width: 25px;
  }
  .q-collapsible-sub-item.indent {
    padding-left: 0;  
  } 

.q-list-highlight > .q-item:hover, .q-item-highlight:hover, .q-list-link > .q-item:hover, .q-item-link:hover {
  background: transparent;
  color: #1b867b;
}
.layout-padding {
    padding: 2em;
    margin: auto;
    background: #f1f3f4;
}
.q-item-label {
  font-size: 13px
}
.q-item-label:first-letter {
  text-transform: uppercase!important
}
.custom-tab .q-tabs-head{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #63bbb2!important;
  padding-left: 0
  padding-right: 0
}
.custom-tab .active{
  background-color: #209e91;
}
.custom-tab .q-tabs-bar{
  border: 0
}
.custom-tab .q-tab-pane{
  background-color: #fff;
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}
.custom-list.q-list{
  border-radius: 5px
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  margin-bottom: 24px;
  padding: 0;
  border: 0;
}
.custom-list .q-list-header{
  border-bottom: 1px solid rgba(0,0,0,.12);
  font-size: 16px;
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.25);
}

.primary{
  background: #38A99D
  color: #FCFEFE
  }
.success{
  background: #9BC22F
  color: #FCFEFE
  }
.info{
  background: #40B6D5
  color: #FCFEFE
  }
.warning{
  background: #E4BF42
  color: #FCFEFE
  }
.danger{
  background: #F0696D
  color: #FCFEFE
  }
.default{
  background: #F4F3F4
  color: #7d7d7d
  }
.btn-transparent{
  border: 1px solid #d6d6d6;
  background: 0 0;
  color: #fff
  }
.pull-right{
  float:right
}
 .pull-left{
  float:left
} 
.custom-btn{
  padding: 5px 1.5em
}
.custom-btn .row{
  display: block
  flex-wrap: nowrap
}
.q-btn{
  text-transform: unset
  }
.custom-chip{
  display: inline-block;
  min-width: 10px;
  padding: 2px 4px;
  color: #fff;
  border-radius: 50%
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;
  line-height: 11px;
  position: absolute;
  top: 3px;
  right: -3px ;
  font-size: 11px;
}
.for-calendar .q-item{
  padding: 0
}
.q-item-sublabel {
    color: #757575;
    font-size: 70%;
    margin-top: 0.2rem;
}
.attendance{
  margin: 15px 0
}
.q-tabs{
  margin-bottom: 24px
}
.btn-animate:hover{
  transform: scale(1.2);
  }
.custom-form{
  overflow: visible!important
  }
.invert-bg{
  background: #f2f4f5
  }
.custom-bcrum{
  padding: 4px 12px;
  }